/* navbar color #caf2af */

:root {

}

* {
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #E7F9DB;
}

/* navbar */

.navbar {
    background-color: #caf2af;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.5em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0em solid transparent;
    border-left: .3em solid transparent;
}

*,
::after,
::before {
    box-sizing: border-box !important;
}

a:hover {
    color: var(--bs-link-hover-color);
}

.dropdown-toggle {
    white-space: nowrap;
}

[role=button] {
    cursor: pointer;
}

@media (max-width:991px) {
    .navbar-brand img {
        width: 70px;
    }

    .navbar-nav {
        align-items: flex-start !important;
    }
}

/* hero sectio */

.hero {
    background-color: #D6F5C1;
    gap: 0px;
}

.heor__pargraph {
    margin: auto;
    text-align: center;
    color: rgba(0,0,0,.945);
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -4px!important;
    text-align: center;
    width: 80%;
    font-family: "Oswald",sans-serif;
}

.hero__btns button:nth-child(1),
.hero__btns button:nth-child(2) {
    background-color: initial;
    border: 1px solid #063f12;
    border-radius: 10px;
    color: #063f12;
    font-size: 18px;
    padding: 15px 20px;
    transition: all .5s;
}

.hero__btns button:nth-child(1):hover,.hero__btns button:nth-child(2) {
    background-color: #063f12;
    color: #fff;
}

.hero__btns button:nth-child(2):hover {
    background-color: initial;
    border: 1px solid #063f12;
    color: #063f12;
    padding: 15px 20px;
}

.hero__video {
    margin-top: 0;
    width: 50%;
    height: 0%;
}

@media (max-width:991px) {
    .hero__video {
        width: 100%;
        height: 60%;
    }

    .heor__pargraph {
        margin: auto;
        text-align: center;
        color: rgba(0,0,0,.945);
        font-size: 50px;
        font-weight: 600;
        letter-spacing: -4px!important;
        text-align: center;
        width: 90%;
        font-family: "Oswald",sans-serif;
    }
}


/* whoWeAre */

.whoWeAre {
    background-color: #9FE870;
}

.whoWeAre__header {
    color: #063f12;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -2px;
}

.whoWeAre__pargraph {
    color: #063f12 !important;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
    margin-top: 10px;
}

.whoWeAre__wadi {
    color: #1d678f;
    font-weight: 800;
    box-sizing: border-box;
}

.whoWeAre__header div {
    margin-top: 10px;
    background-color: #5b9abd;
    height: 3px;
    margin-left: 30px;
    transition: all 1s;
    width: 100px;
}


.whoWeAre__header:hover .whoWeAre__line {
    width: 250px;
}

@media (max-width:991px) {
    .whoWeAre div:nth-child(1) {
        flex-direction: column-reverse;
    }

    .whoWeAre__left,
    .whoWeAre__right {
        width: 100% !important;
    }

    .whoWeAre__pargraph {
        color: #063f12 !important;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: -1px;
        margin-top: 10px;
    }
}

/* for__students */ 
.for__students {
    background-color: #e7f9db;
}

.for__students{
    padding-top: 110px;
}

.for__students__left__word {
    color: rgba(0, 0, 0, 0.945);
    font-family: Inter, sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -2px;
}

.for__students__left i {
    color: #063F12;
}

.for__students__right__words {
    color: rgb(6, 63, 18);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
    margin-top: 10px;
}

@media (max-width:991px) {
    .for__students div:nth-child(1) {
        flex-direction: column;
    }

    .for__students__left,
    .for__students__right {
        width: 100% !important;
    }
}


/* contact us */
.contactUS {
    background-color: #063F12;
}

.contactUS__upper__header {
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: -2px;
    color: #95E067;
}

.contactUS__upper__pargraph {
    color: #c7ebb2;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-weight: 900;
}

.contactUS__down {
    width: 100%;
}

.contactUS__down input{
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 15px 0 0 15px;
    color: #063f12;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    height: 50px;
    outline: none;
    padding: 5px 15px;
    width: 40%;
    margin-right: 0;
}

.subscribe__btn {
    background-color: #9fe870;
    border: none;
    border-radius: 0 15px 15px 0;
    color: #063f12;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-weight: 900;
    height: 50px;
    letter-spacing: -1px;
    outline: none;
    padding: 3px 15px 5px;
    width: 15%;
}

@media (max-width:991px) {
    .contactUS div:nth-child(1) {
        display: block;
    }
    .contactUS__down input {
        width: 60%;
    }

    .subscribe__btn {
        width: 40%;
    }
}


/* footer */

footer {
    background-color: #95E067;
}

.footer__logo img {
    width: 10%;
}

.footer__header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    /* margin-left: 20px; */
    color: #063f12;
}

.footer__pargraph {
    color: #063f12;
    font-size: 16px;
}

.footer__links a{
    text-decoration: none;
    color: #063f12;
    line-height: 2;
    list-style: none;
    transition: color .5s;
    font-size: 20px;
}

.footer__links li {
    list-style-type: none;
}

footer ul {
    padding: 10px !important;
}

.footer__links  li a:hover {
    color: #0061a8 !important;
    cursor: pointer;
}

.footer__buttons {
    background: none;
    border: 1px solid #063f12;
    border-radius: 5px;
    color: #063f12;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    transition: color .5s,border .5s;
    outline: none;
    text-transform: none;
}


.footer__buttons:hover {
    border: 1px solid #0061a8;
    color: #0061a8;
}

.footer__down {
    background-color: white;
    padding: 30px 0 !important;
}

.footer__down i {
    color: #063f12;
}


.footer__copy {
    color: #063f12;
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin: 0;
}

.footer_box {
    width: 24%;
}

@media (max-width:991px) {
    .footer__logo img {
        width: 50%;
    }

    .footer__details {
        flex-direction: column;
    }
    
    .footer__buttons {
        font-size: 16px;
    }

    .footer_box {
        width: 90%;
    }

    .footer__down__container div:nth-child(1) {
        gap:15px !important;
    }
}